{% extends "base.html" %}
{% block content %}
<body>
    <header>
    </header>
    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta cupiditate excepturi corrupti mollitia voluptatem accusamus quas sint. Repellat odio, totam veritatis dolore sed ipsam assumenda error quidem blanditiis placeat quos?
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus distinctio, consequuntur eligendi, facere repudiandae placeat minus velit maxime, exercitationem magni inventore doloremque tenetur! Beatae quos earum excepturi quis, necessitatibus deleniti.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur pariatur perferendis consequatur nesciunt iusto fugiat veritatis exercitationem facere dolorem? Ipsa ut excepturi aliquid ipsam saepe reiciendis esse rerum explicabo libero!
        </p>
    </main>
    <footer>
    </footer>
</body>
{% endblock %}